*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-image: url('https://wallpapercave.com/wp/wp8827108.jpg');
    background-size: cover;
}

.Head-Main{
    color: rgb(33, 137, 175);
    font-family: 'Sacramento', cursive;
    background-color: rgb(2, 6, 9);
    padding-left: 35%;
}

.Head-Detail {
    color: rgb(127, 111, 172);
    font-style: italic;
    font-weight: bolder;
    padding-bottom: 5%;
    padding-top: 5%;
}

.year{
    color: white;
    font-weight: bold;
}

.Paragraph {
    font-size: large;
    color: white;
    font-weight: bold;

}

.images{
    padding-left: 20%;
    width: 200px;
    height: 200px;
}

.split{
    padding-left: 5%;
    padding-top: 10%;
    margin-right: 70%;
}

.neighbor{
    display: inline-block;
    vertical-align: middle;
    /* padding-bottom: 20%;
    padding-left: 60%; */
}

.cells{

    padding-top: 5%;
    padding-left: 10px;
    font-size: xx-large;
    font-style: italic;    
}

.Hyperlink {
    color:rgb(107, 119, 173);
    text-decoration: none;
    font-weight: bolder;
}

.back {
    color: aliceblue;
    padding-left: 5%;
    padding-top: 5%;
    font-size: x-large;
}

a:hover {
    color: #9c1e35
  }
